.coverImg{
    background-image: url("../media/cover.jpg");
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    object-fit: cover;
    height: 100vh;
}

.coverText{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var( --header-color) ;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    font-family: cursive;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;
    margin-bottom: 10vh;
}
.container2{
    box-shadow: rgb(44, 68, 201) 0px 0px 30px 1px;
    background: var(--schuin-background-color);
    width:110%;
    top:-5%;
    margin-left:-5%;
    transform:rotate(6deg);
    height: min-content;
    z-index: 0;
    margin-top: 20vh;
    margin-bottom: 20vh;
    overflow: hidden;
}
.container2 p , .container2 h1 , .container2 h3, .container2 hr {
    margin-left: 10vw;
    margin-right: 10vw;
    transform:rotate(-6deg);
}

.schuin {
    margin-top: 10vh;
    margin-bottom: 10vh;
}

span {
    transform: rotate(90deg);
    position: absolute;
    top: 40vh;
    color: #337ab79e;
    font-size: 100px;
    margin-left: -50px; 
    offset-anchor: 50% 50%;
}
span:hover{
    color: #337ab7;
}


@media screen and (max-width: 1100px) {
    .container2 {
        transform: none;
    }
    .container2 p , .container2 h1 , .container2 h3, .container2 hr {
        transform: none;
    }
}

.schuineImg {
    width: 10vw;
}