body {
    background-color: var(--body-background-color);
}

main {
    background: var(--schuin-background-color);
    width: 90vw;
    height: fit-content;
    min-height: 90vh;
    margin: 5vh 5vw;
    border-radius: 10px;
    box-shadow: 0px 0px 30px 1px rgb(44, 68, 201);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project {
    width: 90%;
    height: fit-content;
    margin: 5vh 5vw;
}
.btn {
    margin-left: 20px;
}
.uploadImg {
    width: 20vw;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: fit-content;
    margin: 5vh 5vw;
}

form input {
color:  #000;
}

form textarea {
    max-width: 20vw;
    max-height: 40vh;
    min-width: 20vw;
    min-height: 0 5vh;
    border-radius: 10px;
}

.uploadImg {
    margin-top: 5vh;
    margin-left: 0vw;
}

.uploadLink {
    margin-top: 5vh;
    margin-left: 0vw;
}